<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I am a full-stack developer with proficiancies in a variety of open-source technologies and frameworks. I'm currently working on a startup using my favorite technologies so far... Ruby on Rails 5 (both API and MVC), React Native, NodeJS, Nginx, Docker, and CoreOS. This stack is by far the most flexible and powerful I've had the chance to use.</p>
            </div>
            <div class="col-lg-4">
                <p>Outside of Web Development, I enjoy playing with IOT platforms like particle, and I have a knack for analytics, dashboards, and insights; given my earlier professional experience in the business analytics and strategy world.</p>
            </div>
            
        </div>
    </div>
</section>

